* {
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ce5454 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ce5454;
  border-radius: 20px;
}

:root {
  --row-distance: 25% 10% 65%;
  --filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(110%) contrast(101%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0px auto;
  background: rgb(82, 80, 80);
  overflow: hidden;
}

.frame{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 90vw;
  margin: 0px auto;
}

.pomodoro {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 90vw;
  height: 70vh;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: rgba(10, 13, 13, 0.5);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.columnLeft, .columnMiddle, .columnRight {
  display: grid;
  grid-template-rows: var(--row-distance);
  align-items: center;
  justify-items: center;
  max-height: 90%;
}

h6 {
  font-family: 'monospace', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.info h6{
  color: aliceblue;
  font-size: 1rem;
}

.buttonTodoLeft, .buttonTodoRight {
  width: 50px;
  height: 100px;
}

.buttonTodoLeft:hover, .buttonTodoRight:hover, .seeWeek:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}

.seeWeek {
  width: 48px;
  height: 48px;
}