* {
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ce5454 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ce5454;
  border-radius: 20px;
}

:root {
  --row-distance: 25% 10% 65%;
  --filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(110%) contrast(101%);
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
  background: rgb(82, 80, 80);
  overflow-x: hidden;
}

.frame{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  height: 90%;
  width: 90vw;
  margin: 0px auto;
}

.pomodoro {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 310px;
  height: 400px;
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: rgba(10, 13, 13, 0.5);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.columnLeft, .columnMiddle, .columnRight {
  display: grid;
  grid-template-rows: var(--row-distance);
  align-items: center;
  justify-items: center;
  height: 100%;
  max-height: 400px;
}

h6 {
  font-family: 'monospace', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.info h6{
  margin-top: 50%;
  color: aliceblue;
  font-size: 1rem;
}

.buttonTodoLeft, .buttonTodoRight {
  width: 50px;
  height: 100px;
}

.buttonTodoLeft:hover, .buttonTodoRight:hover, .seeWeek:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}

.seeWeek {
  width: 48px;
  height: 48px;
}

div .buttonTimerLeft, div .buttonTimerRight, .buttonTodoLeft, .buttonTodoRight, .seeWeek{
  filter: invert(83%) sepia(57%) saturate(546%) hue-rotate(163deg)
}

@media screen and (min-width: 768px) {
  .pomodoro{
    width: 550px;
    height: 650px;
    max-height: 100%;
  }
  .columnLeft, .columnMiddle, .columnRight{
    max-height: 100%;
    height: 100%;
  }

  img, h1, h6, .time, input[type='checkbox']{
    transform: scale(1.5);
  }

  label{
    font-size: 1.2rem;
  }
  .timer{
    width: 50%;
  }
  .config{
    width: 500px;
  }
  .config .icon{
    justify-content: space-evenly;
  }
  input.inputAdd{
    height: 60px;
    width: 330px;
  }
  form.insert{
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  button.buttonAdd{
    height: 70px;
  }
}