.insert {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-evenly;
  border: rgba(90, 89, 89, 0.884) solid 5px;
  border-radius: 5px;
  background-color: rgba(90, 89, 89, 0.884);
}

.buttonAdd {
  width: 20%;
  height: 42px;
  background-color: rgb(246, 163, 163);
  padding: 0;
  border-radius: 5px;
}

.buttonAdd:hover {
  background-color: rgb(237, 131, 131);
  cursor: pointer;
}

.buttonAdd img{
  width: 40px;
  height: 36px;
}

.inputAdd {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(39, 38, 38);
  color: white;
  border-radius: 5px;
}

input:hover {
  background-color: rgb(24, 23, 23);
}

.list-block {
  display: grid;
  height: 80%;
  width: 100%;
  max-height: 500px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;

}

.formItem {
  display: block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(150, 88, 88);
  font-size: 1rem;
}

.taskList {
  accent-color: red;
}