body{
  background: rgb(82, 80, 80);
}

.frame{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 500px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.5);
  overflow: hidden;
  background: rgb(49, 45, 45);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', Helvetica, sans-serif;
}


/*Coluna esquerda configs*/
.col-left{
  position: absolute;
  width: 50px;
  height: 500px;
  left: 5%;
  top: 0%;
}

h6{
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-left-left{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 100px;
  clip-path: polygon(50% 0%, 0% 50%, 50% 100%);
  background-color: rgb(249, 249, 249);
}



/*Coluna meio configs*/
.col-middle{
  position: absolute;
  width: 300px;
  left: 30%;
  top: 15px;
}

.button-middle-left{
  padding-top: 15%;
  width: 30px;
  height: 30px;
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  background-color: rgb(249, 249, 249);
  display: inline-block;
}

.timer{
  margin-top: 2%;
  font-size: 60px;
  font-weight: 999;
  width: 100px;
  height: 100px;
  background-color: rgb(206, 84, 84);
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-middle-right{
  padding-top: 15%;
  width: 30px;
  height: 30px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  background-color: rgb(249, 249, 249);
  display: inline-block;
}

.insert{
  position: absolute;
  top: 135px;
  left: -50px;
  border:rgba(90, 89, 89, 0.884) solid 10px ;
  display: flex;
}

.button-add{
  display: flex;
  left: -50px;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
}

.input-add{
  display: flex;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  font-weight: 500;
}



/*coluna direita configs*/
.col-right{
  position: absolute;
  width: 50px;
  right: 0%;
  top: 15px;
}

.see-week{
  position: absolute;
  top: 15px;

}

.button-right-right{
  position: absolute;
  top: 230px; /*Trocar aqui pra porcentagem...*/
  width: 50px;
  height: 100px;
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
  background-color: rgb(249, 249, 249);
}