* {
  box-sizing: border-box;
}

:root {
  --row-distance: 25% 10% 65%;
  --filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(110%) contrast(101%);
}

body {
  display: grid;
  align-content: center;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  background: rgb(82, 80, 80);
  overflow: hidden;
}

.pomodoro {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  background: rgb(49, 45, 45);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', Helvetica, sans-serif;
}


/* Coluna Esquerda */
.columnLeft {
  display: grid;
  grid-template-rows: var(--row-distance);
  align-items: center;
  justify-items: center;
}

h6 {
  font-family: 'monospace', Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.buttonTodoLeft {
  width: 50px;
  height: 100px;
  filter: var(--filter-white);
}

.buttonTodoLeft:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}


/* Coluna Meio */
.columnMiddle {
  display: grid;
  grid-template-rows: var(--row-distance);
  align-items: center;
  justify-items: center;
}


/* Coluna Direita */
.columnRight {
  display: grid;
  grid-template-rows: var(--row-distance);
  align-items: center;
  justify-items: center;
}

.seeWeek {
  cursor: pointer;
  width: 48px;
  height: 48px;
  filter: var(--filter-white)
}

.seeWeek:hover {
  transition: .3s;
  transform: scale(1.1);
}

.buttonTodoRight {
  width: 50px;
  height: 100px;
  filter: var(--filter-white)
}

.buttonTodoRight:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
}