/* From ToDo, but NOT include buttonTodoLeft and buttonTodoRight */

.insert {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  border: rgba(90, 89, 89, 0.884) solid 5px;
  background-color: rgba(90, 89, 89, 0.884);
}

.buttonAdd {
  width: 48px;
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  background-color: rgb(246, 163, 163);
  padding: 0;
}

.buttonAdd:hover {
  background-color: rgb(237, 131, 131);
  cursor: pointer;
}

.buttonAdd img{
  width: 40px;
  height: 36px;

}

.inputAdd {
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(39, 38, 38);
  color: white;
}

input:hover {
  background-color: rgb(24, 23, 23);
}

/* Mexer aqui. */
.list {
  display: grid;
  grid-auto-rows: 25px;
  height: 100%;
  width: 100%;
  max-height: 280px;
  max-width: 260px;
  font-weight: 600;
  font-size: 20px;
  color: aliceblue;
  overflow: auto;
  align-content: start;
}

.formItem {
  display: block;
  height: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 14px;

}

.taskList {
  accent-color: red;
}
.taskList {
  accent-color: red;
}